/*Body Styles*/

body {
  min-width: 500px;
}

.background {
  background-color: #e1e2e8;
}

.gray {
  color: darkgray;
}

h1 {
  /*color: #5b7f63;*/
  font-size: 3em;
}

h2 {
  font-size: 1.75em;
  margin: 2%
}


/*Default Pure CSS styling (mostly grid)*/

.l-box {
  padding: 1em;
}

.pure-g>div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, button, input, select, textarea, .pure-g [class *="pure-u"] {
  /* Set the content font stack here: */
  font-family: Roboto;
}

.button-success, .button-error, .button-warning, .button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


/*Buttons*/

.button-success {
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.pure-button-disabled {
  background: rgba(66, 184, 221, .75);
}


/*Nav Menu*/

.center {
  text-align: center;
}

.nav-color {
  background: #5C80BC;
}

.font-white {
  color: white;
}


/*Controls*/

.controls {
  margin-left: 20px;
}

.label {
  /*color: #5b7f63;*/
}

.search-bar {
  margin-bottom: 10px;
}

.new-button {
  margin-top: 0;
  padding-right: 0;
  text-align: right;
  box-sizing: border-box;
}


/*Card Layout*/

.title {
  width: 100%;
  overflow: scroll;
}

.grid-box-color {
  background-color: silver;
}

.grid-box {
  height: 600px;
  width: 400px;
  box-shadow: -3px 3px 25px #888888;
}

.head-container {
  height: 20%;
  width: 100%;
  font-size: 1vw;
}

.content-container {
  height: 66.6%;
  width: 100%;
  text-align: center;
}

br {
  height: 0;
}

img {
  max-width: 90%;
  max-height: 70%;
  width: auto;
}

.description {
  margin-top: 5px;
  margin-bottom: 0;
  height: 33.3%;
  width: 100%;
  text-align: left;
  overflow: scroll;
}

.button-container {
  height: 13.3%;
  width: 100%;
}

@media (max-width:767px) {
  .grid-box {
    height: 600px;
    width: 400px;
  }
  .head-container {
    max-height: 120px;
    font-size: 1em;
  }
  .content-container {
    height: 400px;
  }
  img {
    max-height: 300px;
  }
  .description {
    min-height: 16.6%;
    max-height: 100px;
  }
  .button-container {
    max-height: 79px;
  }
}

@media (min-width:768px) {
  .grid-box {
    height: 460px;
    width: 260px;
  }
  .head-container {
    max-height: 92px;
    font-size: 1.15vw;
  }
  .content-container {
    height: 306.3px;
  }
  img {
    max-height: 210px;
  }
  .description {
    min-height: 16.6%;
    max-height: 76.6px;
  }
  .button-container {
    max-height: 61px;
  }
}

@media (min-width:992px) {
  .grid-box {
    height: 534px;
    width: 334px;
  }
  .head-container {
    max-height: 106px;
    font-size: 1.25vw;
  }
  .content-container {
    height: 355.6px;
  }
  img {
    max-height: 284px;
  }
  .description {
    min-height: 16.6%;
    max-height: 89px;
  }
  .button-container {
    max-height: 71px;
  }
}

@media (min-width:1200px) {
  .grid-box {
    height: 600px;
    width: 400px;
  }
  .head-container {
    max-height: 120px;
    font-size: 1vw;
  }
  .content-container {
    height: 400px;
  }
  img {
    max-height: 300px;
  }
  .description {
    min-height: 16.6%;
    max-height: 100px;
  }
  .button-container {
    max-height: 79px;
  }
}
